@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        --background-colour: #D9D9D9;
        --text-color: #000000;
    }

    html {
        background-color: var(--background-colour);
        color: var(--text-colour);
    }

    a {
        color: inherit;
        cursor: pointer;
    }

    button {
        cursor: pointer;
    }

    #root {
        display: flex;
        min-height: 100vh;
        flex-direction: row;
        width: 100%;
    }
}